body {
    /* make body 100% of the window */
    height: 100%;
    background: #6c7467;
    color: white;
    
}

button{
    background-color: #4e97be;
}

.hide {
    display: none;
}

#startSection{
    margin-top: 17.5%;
}

#questionSection{
    margin-top: 17.5%;
}

#endSection{
    margin-top: 17.5%;
}

#highscores{
    margin-top: 17.5%;
}

button{
    margin-left: 25%;
    margin-right: 25%;
}

li {
    text-align: center;
    list-style-position: inside;
}